@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>Contacts.</h3>
<p>Developer: @ViewData["Developer"]</p>
<p>Cell Phone: @ViewData["Cell_Phone"]</p>
<p>Email: @ViewData["email"]</p>
<p>GitHub: <a href=@ViewData["git"]>@ViewData["git"]</a></p>
